.banner {
	
	background-image: linear-gradient(-250deg, rgba(0.2,0,0.6,0.8) 15%, rgba(0,0,0.4,0.1) 50%), url('../../images/fond.png'), 
	linear-gradient(-700deg, rgba(0,0,0,0.8) 12%, rgba(0.2,0,0,0.2) 50%) ;
	padding: 150px 0px;
	color: white;
	background-size: cover;
	background-position: center;
}
 
.banner h1 {
	frontsize: 50px;
}

.banner h2{
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.9;
	margin-bottom: 40px;
}